<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title> My Node Site</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/styles.css">
</head>
<body>
	<!-- <h1> HELLLOOOOOO LYNETTE</h1> -->
	<header>
		<nav class="navbar navbar-inverse">
		<a href="/" class="navbar-brand"> MY SITE </a>
		<ul class= "nav navbar-nav">
			<li> <a href="/"> HOME </a></li>
			<li> <a href="/about"> ABOUT </a></li>
			<li> <a href="/contact"> CONTACT </a></li>
		</ul>
		</nav>

	</header>


	<!-- Main content here --> 

	<%- defineContent('hero')%>

<main>
		<div class="container">
			<%- body %>
		</div>
	</main>

		<footer>
		Awesome Site. Copyright &copy; 2017
	</footer>
</body>
</html>